.container {
  height: 100%;
  overflow: auto;
}

.editor {
  min-height: 100%;
  font-size: var(--font-size-12);
  font-family: var(--font-family-code);
}


.loadingContainer {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.objectContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 8px;
  padding: 4px;
  padding-left: 16px;
  min-height: 50px;
}

.objectContainer:hover {
  cursor: pointer;
  background-color: #D9D9D9
}

.image {
  max-height: 60px;
  max-width: 300px;
  object-fit: cover;
}

.linterMainContainer {
  display: flex;
  height: 100%;
}

.linterBodyContainer {
  display: flex;
  height: calc(100% - 54px);
  max-height: calc(100% - 54px);
  overflow-y: scroll;
  width: 100%;
  padding-right: 10px;
  flex-grow: 1;
}

.linterActionContainer {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
  align-items: center;
  height:54px;
}

.linterActionButtonContainer {
  display: flex;
  column-gap: 10px;

}

.linterTotalErrorPill {
  padding:  2px 6px;
  background-color: #f24822;
  color:white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.linterLeftContainer {
  width: 400px;
}
.linterLayerContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 2;
  border: 1px solid transparent;
}
.linterLayerContainer:hover{
  border: 1px solid #0d99ff;
}
.linterActiveContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 2;
  background-color: #daebf7;
  border: 1px solid transparent;

}

.linterIconNameContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 32px;
  column-gap: 8px;
}

.linterLayerList {
  padding-left: 10px;
  width:100%;
}

